@inject NavigationManager NavigationManager

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Arzt</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            @if (Helper.Login.isLogin == true)
            {
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-account-login" aria-hidden="true"></span> Login
                </NavLink>
            }
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DeliveryPage">
                <span class="oi oi-plus" aria-hidden="true"></span> Add delivery
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="ArticlePage">
                <span class="oi oi-plus" aria-hidden="true"></span> Add article
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="SupplierPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add supplier
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        StateHasChanged();
    }
}